---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold">404</h1>
        <p class="text-lg">Page not found</p>
        <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-pagina-3959260-3299959.gif" alt="404">
    </div>
</Layout>