---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About this project">
  <h1>About the project</h1>

  <p>The SpaceX Launches project is a demo project with a learning purpose</p>
</Layout>