---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main>
		<h1 class="text-6xl text-white font-bold">SpaceX Launches 🚀</h1>
	</main>
</div>

