---
import Header from '../components/header.astro';
import './src/styles/global.css';
import ClientRouter from 'astro/components/ClientRouter.astro';
interface Props {
	title: string;
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 min-h-screen pb-32">
		<Header/>
		<main class="max-w-5xl px4 m-auto">
			<slot />
		</main>
	</body>
</html>

<style>
	html {
		margin: 0;
		width: 100%;
		height: 100%;
		color-scheme: dark light;
	}
</style>
